attrdict~=2.0.1
bumpversion<1,>=0.5.3
configobj~=5.0.6
cytoolz~=0.9.0.1
lru-dict
parsimonious~=0.8.1
pycryptodome
requests~=2.21.0
toolz~=0.9.0

hypothesis>=3.6.1
argcomplete~=1.12.0
pymitter~=0.2.3
asyncio
promise~=2.3

rlp~=1.1.0
web3~=4.8.2
hexbytes~=0.1.0
setuptools~=40.2.0